.table-2-new thead{
    background: #f5f5f5;
}
.table2-btn-ordering{
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 7px 20px 7px 15px;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
}
.table2-btn-ordering-disabled{
    background: rgba(255, 255, 255, 0);
    border: none;
    padding: 7px 20px 7px 15px;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
}

.table2-btn-ordering::after{
  content: '';
  position: absolute;
  right: 1px;
  bottom: 12px;
  display: block;
  width: 0;
  height: 0;
  border: solid 4px transparent;
  margin: 4px 4px 0 3px;
  background: transparent;
  border-top: solid 5px #000000;
  border-bottom-width: 0;
}
.table2-btn-ordering::before{
  content: '';
  position: absolute;
  right: 1px;
  top: 5px;
  display: block;
  width: 0;
  height: 0;
  border: solid 4px transparent;
  margin: 4px 4px 0 3px;
  background: transparent;
  border-bottom: solid 5px #000000;
  border-top-width: 0;
}
.table2-btn-ordering-desc::before{
  border-bottom: solid 5px #cccccc;
}
.table2-btn-ordering-desc::after{

}
.table2-btn-ordering-asc::after{
  border-top: solid 5px #cccccc;
}
.table2-btn-ordering-asc::before{

}
.table2-input-search-container{
    height: 40px;
}
.table2-input-search-container > input{
    height: 36px;
}
.table2-input-search{
    height: 38px;
    padding: 0 10px;
    border-radius: 5px;
    border: solid 1px #16a085;
}

.sort-by-asc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #F80;
    border-top-width: 0;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px #F80;
    border-bottom-width: 0;
}
